<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>A step-by-step guide on using StarMH platform | MapleHeap Technologies</title>
    <link rel="icon" href="../../assets/img/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link href="../../libs/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/solid.css" rel="stylesheet" />

    <!-- custom style  -->
    <link rel="stylesheet" href="../../css/style.css">

  </head>
  <body>

    <!-- header -->
    <header id="_header" class="bg-light shadow"></header>

    <section>
    	<div class="p-lg-0 mt-5">
        <div class="row w-100 m-0">
          <div class="col-lg-6 offset-lg-3 text-center">
            <h1 class="font-weight-bold">A step-by-step guide on using StarMH platform</h1>
            <p>This post is a user guide on how different tasks could be performed to build and use a high quality StarMH dashboard in your application</p>
            <p class="mb-2 text-primary">Atif Baig</p>
            <span>1/15/2024 - 1 min read</span>
            <div class="mt-5">
              <div class="video mt-5" style="height: 70vh;">
                <div class="row w-100 h-100 m-0">
                  <div class="col-12 h-100">
                    <iframe src="https://drive.google.com/file/d/1fsk2-9YKAgvo6LQv17e4nDKFWk97ynHK/preview" class="w-100 h-100" allow="autoplay"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8 offset-lg-2 h6 mt-5">
            <p>Below are the steps to design, integrate and embed StarMH dashboards.</p>

            <div class="mt-5">
              <div class="step1 mb-5">
                <span>
                  <p class="mb-5"><b>Step 1: </b> Generate StarMH dashboard using the UI based designer component available in StarMH designer tool and download *.starmh design file.</p>
                  <p class="mb-5"><b>Step 2: </b> Upload *.starmh design file in StarMH admin application and configure each dashboard tile to enable dynamic reporting data.</p>
                  <p class="mb-5"><b>Step 3: </b> Based on the requirements, enable NLP/AI features such as trend analysis, sentiment analysis, keyword extraction, and content recommendation.</p>
                  <p class="mb-5"><b>Step 4: </b> Embed fully configured StarMH dashboard in your application with the help of StarMH session manager that shares the session information across your application and StarMH dashboard.</p>
                  <p class="mb-5"><b>Note: </b> If the StarMH dashboard you are creating needs data that is not already there in the existing StarMH tables then you might have to add one or more new StarMH tables and also develop data ingestion processes for each of them. Please refer to the data ingestion blog to get details on how data could be ingested in StarMH tables.</p>
                </span>
                <div class="mt-3">
                  <img src="../../assets/img/blog/blog3-1.avif" alt="Add the desired StarMH table if it does exist already." class="w-100">
                </div>
              </div>

              <div class="step2 mb-5">
                <div class="mt-3">
                  <img src="../../assets/img/blog/blog3-2.avif" alt="Configure the data upload preferences for the table in which data has to be ingested. " class="w-100">
                </div>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>

    <footer id="_footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../js/jquery-3.4.1.slim.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../assets/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/header.js"></script>
    <script type="text/javascript" src="../../js/footer.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
  </body>
</html>