<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Blog | MapleHeap Technologies</title>
    <link rel="icon" href="../../assets/img/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link href="../../libs/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/solid.css" rel="stylesheet" />

    <!-- custom style  -->
    <link rel="stylesheet" href="../../css/style.css">

  </head>
  <body>

    <!-- header -->
    <header id="_header" class="bg-light shadow"></header>

    <section>
    	<div class="p-5 p-lg-0">
    		<div class="row m-0 w-100 mb-5">
    			<div class="col-lg-4 col-sm-6 services-cards mr-lg-4 bg-white shadow offset-lg-2 mt-5 pt-5">
            <a href="./how-to-ingest-data-into-reporting-database-used-by-starmh-dashboard.html" class="text-decoration-none">
      				<div>
                <img src="../../assets/img/blog/blog.avif" alt="Blog -> How to ingest data into reporting database used by StarMH dashboard" class="w-100 img-fluid">
                <p class="h4 mt-3 text-dark">
                  <b>
                    How to ingest data into reporting database used by StarMH dashboard
                  </b>
                </p>
                <p class="text-dark">
                  This blog discusses how data ingestion could be performed using StarMH data ingestion API
                </p>
                <p>
                  <span class="text-primary">Atif Baig</span><br>
                  <span class="text-dark">1/15/2024 - 1 min read</span>
                </p>
              </div>
            </a>
    			</div>
    			<div class="col-lg-4 col-sm-6 services-cards bg-white shadow offset-lg- mt-5 pt-5">
    				<a href="./how-starmh-platform-uses-deep-learning-techniques-for-predicting-furture.html" class="text-decoration-none">
              <div>
                <img src="../../assets/img/blog/blog1.png" alt="Blog -> How StarMH platform uses Deep Learning techniques for predicting furture" class="w-100 img-fluid">
                <p class="h4 mt-3 text-dark">
                  <b>
                    How StarMH platform uses Deep Learning techniques for predicting furture
                  </b>
                </p>
                <p class="text-dark">
                  This blog discusses the deep learning approach used in StarMH platform to forecast future in time series data. It also explains AI configuration available in StarMH admin application to perform the desired predictions.


                </p>
                <p>
                  <span class="text-primary">Atif Baig</span><br>
                  <span class="text-dark">1/15/2024 - 4 min read</span>
                </p>
              </div>
            </a>
    			</div>
          <div class="col-lg-4 col-sm-6 services-cards mr-lg-4 bg-white shadow offset-lg-2 mt-5 pt-5">
            <a href="./a-step-by-step-guide-on-using-starmh-platform.html" class="text-decoration-none">
              <div>
                <img src="../../assets/img/blog/blog2.webp" alt="Blog -> A step-by-step guide on using StarMH platform" class="w-100 img-fluid">
                <p class="h4 mt-3 text-dark">
                  <b>
                    A step-by-step guide on using StarMH platform
                  </b>
                </p>
                <p class="text-dark">
                  This post is a user guide on how different tasks could be performed to build and use a high quality StarMH dashboard in your application
                </p>
                <p>
                  <span class="text-primary">Atif Baig</span><br>
                  <span class="text-dark">1/15/2024 - 1 min read</span>
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6 services-cards bg-white shadow offset-lg- mt-5 pt-5">
            <a href="./how-data-is-secured-in-starmh-platform.html" class="text-decoration-none">
              <div>
                <img src="../../assets/img/blog/blog3.webp" alt="Blog -> How data is secured in StarMH platform" class="w-100 img-fluid">
                <p class="h4 mt-3 text-dark">
                  <b>
                    How data is secured in StarMH platform
                  </b>
                </p>
                <p class="text-dark">
                  This blog discusses how each module of StarMH platform ensures data security
                </p>
                <p>
                  <span class="text-primary">Atif Baig</span><br>
                  <span class="text-dark">1/15/2024 - 1 min read</span>
                </p>
              </div>
            </a>
          </div>
    		</div>
    	</div>
    </section>

    <footer id="_footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../js/jquery-3.4.1.slim.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../assets/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/header.js"></script>
    <script type="text/javascript" src="../../js/footer.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
  </body>
</html>