<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Embedded Analytics Software Service - Maple Heap Technologies</title>

    <meta name="description" content="Join Maple Heap Technologies' beta program for embedded analytics service. Empower your applications with powerful analytics capabilities. Sign up now for early access!">
    <link rel="icon" href="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=48,h=48,fit=crop,f=png/AwvjWxzVyZHrXGDa/group-AR02xyl482c76q5J.png">
    <link rel="apple-touch-icon" href="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=48,h=48,fit=crop,f=png/AwvjWxzVyZHrXGDa/group-AR02xyl482c76q5J.png">
    <meta content="https://mapleheaptech.com/embedded-analytics-service-beta" property="og:url">
    <link rel="canonical" href="https://mapleheaptech.com/embedded-analytics-service-beta">
    <meta content="Starmh Platform for Time Series Based Data Analytics Dashboards | MapleHeap Technologies" property="og:title">
    <meta name="twitter:title" content="Starmh Platform for Time Series Based Data Analytics Dashboards | MapleHeap Technologies">
    <meta content="website" property="og:type">
    <meta property="og:description" content="Easily create and embed beautiful time series based data analytics dashboards in your application using the Starmh platform. No coding required. Centralized reporting database with data ingestion A...">
    <meta name="twitter:description" content="Easily create and embed beautiful time series based data analytics dashboards in your application using the Starmh platform. No coding required. Centralized reporting database with data ingestion A...">
    <meta property="og:site_name" content="MapleHeap Technologies">
    <meta name="keywords" content="embedded analytics dashboard, embedded software solutions, analytics monitoring, Embedded Analytics Service Calgary, Embedded Analytics software Service, data analytics dashboard, data analytics dashboard design, StarMH data analytics dashboard, StarMH">
    <meta content="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1200,h=630,fit=crop,f=jpeg/AwvjWxzVyZHrXGDa/logo-AGBM81MVqxFL9DM1.png" property="og:image">
    <meta content="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1200,h=630,fit=crop,f=jpeg/AwvjWxzVyZHrXGDa/logo-AGBM81MVqxFL9DM1.png" name="twitter:image">
    <meta content="" property="og:image:alt">
    <meta content="" name="twitter:image:alt">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="icon" href="../../assets/img/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link href="../../libs/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/solid.css" rel="stylesheet" />

    <!-- custom style  -->
    <link rel="stylesheet" href="../../css/style.css">

  </head>
  <body>

    <!-- header -->
    <header id="_header" class="bg-light shadow"></header>

    <section>
    	<div class="p-lg-0 mt-5">
        <div class="row w-100 m-0">
          <div class="col-lg-6 offset-lg-3 text-center">
            <h1 class="font-weight-bold">
              <img src="../../assets/img/services/s1.avif" alt="Embedded Analytics Service" class="img-fluid">Star<span class="text-warning">MH</span>: Embedded Analytics Service
            </h1>
            <div class="mt-5">
              <div class="video mt-5" style="height: 70vh;">
                <div class="row w-100 h-100 m-0">
                  <div class="col-12 h-100">
                    <iframe src="https://drive.google.com/file/d/1zcET3FHlgP9MD6WBIBJyVforOSOcnkY_/preview" class="border-0 w-100 h-100" allow="autoplay"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8 offset-lg-2 h6 mt-5">
            <p>
              StarMH platform can be used to easily create and embed beautiful time series based data analytics dashboards in your application. We take a systematic approach to make this happen. In the first step, StarMH design application helps you create a *.starmh design file using a UI based tool that requires no coding. After that this design file is uploaded to the StarMH admin application where dashboard designs are linked to the reporting data. The reporting data comes from our centralized reporting database where data can be ingested from heterogeneous sources using our data ingestion API. Last but not the least, there is a separate AI module that does regular model training on the reporting tables whenever AI powered time series data predictions are enabled for one or more sections in StarMH dashboards.
            </p>

            <div class="">
              <div class="row w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Star<span class="text-warning">MH</span> Designer</h3>
                  <span>
                    This component is used to design dashboards with zero code. A dashboard can have one or more rows and each row can have one or more sections. A section can hold a graph, table or a custom template. Each of these content types can have dynamic fields that are used to load the target dynamic data in MapleHeap dashboards. The design created by this component can be downloaded as a *.starmh file.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 offset-lg-1 mt-5 pt-5">
                  <img src="../../assets/img/services/s2.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row flex-row-reverse justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Star<span class="text-warning">MH</span> Admin</h3>
                  <span>
                    This component is built for administrative users who take *.starmh file created by the StarMH designer component and add the necessary configuration to link dashboard designs to the actual data. Enabling AI powered time series predictions is as simple as clicking a button inside this admin component.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s3.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Star<span class="text-warning">MH</span> Data Ingestion API</h3>
                  <span>
                    The capability of real-time data ingestion is one of the most important aspects of time series data storage. To achieve high performance and reliability we use QuestDB reporting database for persisting reporting data. You can easily ingest real-time data from multiple sources into this reporting database using our data ingestion API.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 offset-lg-1 mt-5 pt-5">
                  <img src="../../assets/img/services/s4.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row flex-row-reverse justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Star<span class="text-warning">MH</span> AI Module</h3>
                  <span>
                    By default, the data ingested into StarMH reporting database is retrieved for data analytics dashboards with the help of database queries in background. The query might be complex based on whatever conditions are provided via StarMH admin application. With all its complexity, it is yet not AI powered reporting. We have to enable AI settings within individual sections of a StarMH dashboard using StarMH admin application. Once AI is enabled for one or more dashboard sections, StarMH platform begins regular AI model training using the data associated with those dashboard sections. This complex task of AI model training with time series data is performed by StarMH AI module.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s5.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Star<span class="text-warning">MH</span> Session Manager</h3>
                  <span>
                    This component is responsible for creating, updating, retrieving, and deleting the shared sessions. The information stored in these sessions are shared across StarMH embedded dashboards and your application. Once a shared session is created, a unique session id is assigned to it to uniquely identify sessions for each connection between StarMH dashboard and your application
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 offset-lg-1 mt-5 pt-5">
                  <img src="../../assets/img/services/s6.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row flex-row-reverse justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Star<span class="text-warning">MH</span> Embedded Dashboard</h3>
                  <span>
                    This component loads the StarMH dashboard inside your application. To do so, it connects to the reporting database and pulls the related data using search parameters, core conditions as well as dashboard settings supplied via StarMH admin application. If AI powered predictions are enabled in a dashboard then data for those predictions come from the results obtained via ML model training with history data. This component identifies each StarMH dashboard by a unique id that can be used to embed the desired dashboards in your application. To be able to dynamically load data based on user's session, you can simply share the session across your application and the StarMH embedded dashboard by creating and using a shared session with the help of StarMH session manager component as discussed above.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s7.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

          </div>
        </div>
    	</div>
    </section>

    <footer id="_footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../js/jquery-3.4.1.slim.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../assets/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/header.js"></script>
    <script type="text/javascript" src="../../js/footer.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
  </body>
</html>