<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Remote Patient Monitoring Service - Maple Heap Technologies</title>

    <meta name="description" content="Maple Heap Technologies' patient monitoring service for seamless healthcare management. Enhance patient care and streamline operations with our advanced patient monitoring solutions.">
    <link rel="icon" href="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=48,h=48,fit=crop,f=png/AwvjWxzVyZHrXGDa/group-AR02xyl482c76q5J.png">
    <link rel="apple-touch-icon" href="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=48,h=48,fit=crop,f=png/AwvjWxzVyZHrXGDa/group-AR02xyl482c76q5J.png">
    <meta content="https://mapleheaptech.com/patient-monitoring-service-coming-soon" property="og:url">
    <link rel="canonical" href="https://mapleheaptech.com/patient-monitoring-service-coming-soon">
    <meta content="PMSMH Patient Monitoring Service: Remote Monitoring for Bedridden Patients with Severe Body Motion Issues | MapleHeap Technologies" property="og:title">
    <meta name="twitter:title" content="PMSMH Patient Monitoring Service: Remote Monitoring for Bedridden Patients with Severe Body Motion Issues | MapleHeap Technologies">
    <meta content="website" property="og:type">
    <meta property="og:description" content="Our PMSMH patient monitoring service allows for remote monitoring of bedridden patients experiencing severe issues with body motion. Ensure their safety and prevent injuries with our advanced techn...">
    <meta name="twitter:description" content="Our PMSMH patient monitoring service allows for remote monitoring of bedridden patients experiencing severe issues with body motion. Ensure their safety and prevent injuries with our advanced techn...">
    <meta property="og:site_name" content="MapleHeap Technologies">
    <meta name="keywords" content="patient monitoring software Calgary, patient monitoring solutions Calgary, monitoring of bedridden patients Calgary, remotely monitor bedridden patients, Remote Patient Monitoring Devices, patient monitoring Services Calgary, parkinson patients monitoring system, Patients with mobility issues, patient monitoring Services, Wearable patient monitoring devices, pmsmh patient monitoring service, remotely monitor bedridden patients, severe issues with body motion">
    <meta content="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1200,h=630,fit=crop,f=jpeg/AwvjWxzVyZHrXGDa/logo-AGBM81MVqxFL9DM1.png" property="og:image">
    <meta content="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1200,h=630,fit=crop,f=jpeg/AwvjWxzVyZHrXGDa/logo-AGBM81MVqxFL9DM1.png" name="twitter:image">
    <meta content="" property="og:image:alt">
    <meta content="" name="twitter:image:alt">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="icon" href="../../assets/img/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link href="../../libs/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/solid.css" rel="stylesheet" />

    <!-- custom style  -->
    <link rel="stylesheet" href="../../css/style.css">

  </head>
  <body>

    <!-- header -->
    <header id="_header" class="bg-light shadow"></header>

    <section>
    	<div class="p-lg-0 mt-5">
        <div class="row w-100 m-0">
          <div class="col-lg-6 offset-lg-3 text-center">
            <h1 class="font-weight-bold">
              <img src="../../assets/img/services/s2-0.avif" alt="Embedded Analytics Service" class="img-fluid"> PMS<span class="text-warning">MH</span>: Patient Monitoring Service
            </h1>
          </div>

          <div class="col-lg-8 offset-lg-2 h6 mt-5">
            <p>
              This product can be used to remotely monitor bedridden patients having severe issues with their body motion. For instance, parkinson is a disease that makes patients lose their body control completely. When this disease gets too severe, it becomes very hard for patients to do very basic activities such as standing, talking, eating, or drinking. Due to lack of body balance and a very high level of body vibration such patients tend to fall too often causing serious injuries. So, monitoring such patients is extremely important to avoid sudden injuries due to their physical condition. This system was originally built for a parkinson patient who happens to be my late father. At that time, it helped me with the monitoring of his health condition. I believe it can now be used to help others in need.
            </p>

            <div class="">
              <div class="row w-100 m-0 align-items-center">
                <div class="col-lg-12 col-sm-12">
                  <img src="../../assets/img/services/s2-1.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">PMS Admin Portal</h3>
                  <span>
                    This admin portal is accessible over internet and is used by the patient's caretaker who has an account with us. Users can add one or more patients in their accounts to be able to monitor multiple patients if needed. Admin portal is the place where users can see the report on body movement of all patients over time in their account. Using this web portal, a user can also accept or decline incoming connection requests from mobile devices. Please note that there must be dedicated devices (i.e., smart watch and mobile) for each patient to ensure proper monitoring.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s2-2.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row flex-row-reverse justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Smart Watch Motion Detector</h3>
                  <span>
                    Patient wears a smart watch with gyroscope sensor that constantly monitors the speed of body movement. With MapleHeap smart watch patient monitoring application it becomes possible to send the detected movement in the patient's body from smart watch to the admin portal account over internet. Once transmitted, this information also becomes available to the patient's care taker.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s2-3.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Email Notifications & Video Recording</h3>
                  <span>
                    As soon as system detects an increased body motion, it sends email notification to the care taker who is also the owner of admin portal account. After this system sends a signal to the mobile device where PMS camera application is running to start video recording. The mobile camera is activated and a 30 second video is recorded to capture the patient's condition more closely. Based on the information obtained from the video, the caretaker can take the necessary next steps like calling the doctor or ambulance, or visiting the patient in person if needed. 
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s2-4.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row flex-row-reverse justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Mobile Camera Application</h3>
                  <span>
                    This component is installed on Android devices with camera. Please note that no special camera devices are needed for monitoring and any old andriod device can be used for this purpose. The main responsibility of this component is to record the patient's video for a short period of time (like 30 seconds) whenever a significant increase in the speed of body movement is detected. We also use this camera app to scan QR code generated by the motion detection device (which is a smart watch). This QR code scanning on mobile devices is used to connect smart watch motion detectors with mobile devices as well as admin portal user accounts.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s2-5.svg" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

          </div>
        </div>
    	</div>
    </section>

    <footer id="_footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../js/jquery-3.4.1.slim.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../assets/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/header.js"></script>
    <script type="text/javascript" src="../../js/footer.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
  </body>
</html>