<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>VeloMH Ride Sharing Services - Maple Heap Technologies</title>

    <meta name="description" content="Discover MapleHeapTech's reliable ride-sharing service for hassle-free transportation. Our platform offers safe, efficient, and convenient rides to your destination. Join us now!">
    <link rel="icon" href="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=48,h=48,fit=crop,f=png/AwvjWxzVyZHrXGDa/group-AR02xyl482c76q5J.png">
    <link rel="apple-touch-icon" href="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=48,h=48,fit=crop,f=png/AwvjWxzVyZHrXGDa/group-AR02xyl482c76q5J.png">
    <meta content="https://mapleheaptech.com/ride-sharing-service-coming-soon" property="og:url">
    <link rel="canonical" href="https://mapleheaptech.com/ride-sharing-service-coming-soon">
    <meta content="VeloMH - Trip Planning and Ride Sharing Application | MapleHeap Technologies" property="og:title">
    <meta name="twitter:title" content="VeloMH - Trip Planning and Ride Sharing Application | MapleHeap Technologies">
    <meta content="website" property="og:type">
    <meta property="og:description" content="VeloMH is a trip planning and ride sharing application that allows you to share your planned trips with others. Post your trip or ride request and connect with drivers or riders going to the same p...">
    <meta name="twitter:description" content="VeloMH is a trip planning and ride sharing application that allows you to share your planned trips with others. Post your trip or ride request and connect with drivers or riders going to the same p...">
    <meta property="og:site_name" content="MapleHeap Technologies">
    <meta name="keywords" content="Ride Sharing Service Calgary, Ride Sharing Service, ride hailing software, ride sharing applications Calgary, VeloMH, VeloMH ride sharing Service, Uber, Taxi, Car, VeloMH, ride sharing application, VeloMH">
    <meta content="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1200,h=630,fit=crop,f=jpeg/AwvjWxzVyZHrXGDa/logo-AGBM81MVqxFL9DM1.png" property="og:image">
    <meta content="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1200,h=630,fit=crop,f=jpeg/AwvjWxzVyZHrXGDa/logo-AGBM81MVqxFL9DM1.png" name="twitter:image">
    <meta content="" property="og:image:alt">
    <meta content="" name="twitter:image:alt">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="icon" href="../../assets/img/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link href="../../libs/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/solid.css" rel="stylesheet" />

    <!-- custom style  -->
    <link rel="stylesheet" href="../../css/style.css">

  </head>
  <body>

    <!-- header -->
    <header id="_header" class="bg-light shadow"></header>

    <section>
    	<div class="p-lg-0 mt-5">
        <div class="row w-100 m-0">
          <div class="col-lg-6 offset-lg-3 text-center">
            <h1 class="font-weight-bold">
              <img src="../../assets/img/services/s3-0.png" alt="Embedded Analytics Service" class="img-fluid"> Velo<span class="text-warning">MH</span>: Ride Sharing Service
            </h1>
          </div>

          <div class="col-lg-8 offset-lg-2 h6 mt-5">
            <p>
              VeloMH is a trip planning and ride sharing application. You can think of it as a platform that helps you share your planned trips with others. If you plan to drive to a place, you can simply post a trip on VeloMH so that others can see it and send you ride requests if they are looking for ride to the same place. Similarly, if you do not plan to drive but have to go somewhere, you can simply post a ride request on VeloMH so that others can see it and send you trip invitations if they already planned a trip to the same place. Drivers and riders are matched by VeloMH search engine and once matched it lets both rider and driver fully review each other's profile before proceeding further. There are many unique features that distinguishes this ride sharing application from the existing ones. Below is some more information on these unique features.
            </p>

            <div class="">
              <div class="row w-100 m-0 align-items-center">
                <div class="col-lg-12 col-sm-12">
                  <img src="../../assets/img/services/s3-1.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Trip Planner</h3>
                  <span>
                    With VeloMH users can plan trips for the next 30 days. This is specially a suitable feature if someone needs to go to a far place in the next 30 days. This type of trip is not recurring in nature as it is mostly a one-off.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s3-2.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row flex-row-reverse justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Daily Commute</h3>
                  <span>
                    For any user, it is highly inconvenient to keep creating a new trip every time if the user has to go somewhere on a regular basis. For example, you have classes at university five days a week and you need a ride almost daily. This is clearly a recurring situation and ideally you would want to automate the creation of trips based on your daily commute. The VeloMH daily commute feature does exactly that for you. Without having to manually add trips, you receive notifications on matches when it is time to go to university from home and vice versa.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s3-3.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-12 col-sm-12 mt-5 pt-5">
                  <h2 class="font-weight-bold  text-center">Velo<span class="text-warning">MH</span> Communities</h2>
                  <img src="../../assets/img/services/s3-4.avif" alt="VeloMH Communities" class="w-100 img-fluid">
                  <p>
                    A group of people who live, work or perform any activity in the same place can be seen as a community. This concept of community associates people with physical locations (such as Office Building, University, College, Park, Gym, or Hospital) 
                  </p>
                  <p>
                    VeloMH application maintains a list of communities. Users can request to create new communities using the app. The communities are created by VeloMH back office after validating the provided information. A community must have a name, picture, address, description, email domains (for user verification) and optionally website.
                  </p>
                  <p class="mt-5">Following are some examples in Calgary for which communities can be created.</p>
                  <p>1). University of Calgary</p>
                  <p>2). South Health Campus</p>

                  <p>
                    VeloMH users can search these communities and join them using the associated email domains. For instance, if a VeloMH user from University of Calgary wants to join that community on VeloMH, he or she can become a VeloMH verified community member by using email address with domain @ucalgary.ca. To perform verification, we send a verification code on the community email address. Community membership is granted by VeloMH app right away after successful email verification.
                  </p>
                  <p>
                    A VeloMH user can have multiple community memberships. For example, a part time student who is attending a school might also work somewhere at the same time. So, that person would be able to join both communities associated with that school as well as the workplace.
                  </p>
                  <span class="font-weight-bold">Benefits of communities</span>
                  <p>With this feature VeloMH users can use our app more confidently as they can choose the communities they trust and VeloMH system filters the matches for them accordingly. Although for old VeloMH users, reviews and ratings are going to be more important yet for new users, affiliations with well known communities could make a noticeable difference.</p>
                </div>
              </div>
            </div>

            <div class="">
              <div class="row justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-4 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Velo<span class="text-warning">MH</span>: Search Engine</h3>
                  <span>
                    VeloMH search engine uses a unique algorithm. First, it looks up matches based on the origin and the destination of trips. Each entry in the matched results is then sorted or ranked so that drivers or riders marked as favourite appear on top. Next in this list appear members of either same community or favourite communities. After these entries in the search results, all the other VeloMH users appear in the descending order of their ratings.
                  </span>
                </div>
                <div class="col-lg-8 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s3-6.svg" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="mt-5">
              <div class="row justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-12 col-sm-12 mt-5 pt-5">
                  <h2 class="font-weight-bold  text-center">Velo<span class="text-warning">MH</span> Approval Process</h2>
                  <img src="../../assets/img/services/s3-7.svg" alt="VeloMH Communities" class="mt-3 w-100 img-fluid">
                  <p class="mt-5">
                    If a rider sends a ride request to a driver, VeloMH application gives driver an opportunity to first review the rider's profile. If profile looks good then that driver can go ahead and approve the ride request to share further details regarding the trip. On the contrary, if a driver sends a trip invitation to a rider, VeloMH application gives rider an opportunity to first review the driver's profile. If it looks good then that rider can go ahead and approve the trip invitation to discuss further details about the trip.
                  </p>
                  <p class="mt-5">
                    User ratings, previous reviews and community memberships help determine how much a VeloMH user is likely to provide a good service. The common trip details that might be discussed after this approval process include pickup location, drop off location, time, and price. Please note that depending on the driver's preference, price could be negotiable or fixed.
                  </p>
                  <p class="mt-5">
                    If a VeloMH user provides a good service and you prefer to get services from that user in future as well then you could mark that user as your favourite. It has two benefits. The entry corresponding to favourite VeloMH users appear on top in the search results. Secondly, if both rider and driver have marked each other as favourite then approval process is skipped to help you quickly connect to your favourite VeloMH users.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
    	</div>
    </section>

    <footer id="_footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../js/jquery-3.4.1.slim.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../assets/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/header.js"></script>
    <script type="text/javascript" src="../../js/footer.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
  </body>
</html>