<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mapleheap Technologies - Calgary Based Software Company | MapleHeap Technologies</title>
    <link rel="icon" href="../assets/img/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link href="../libs/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../libs/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../libs/fontawesome/css/solid.css" rel="stylesheet" />

    <!-- custom style  -->
    <link rel="stylesheet" href="../css/style.css">

  </head>
  <body>

    <!-- header -->
    <header id="_header" class="bg-light shadow"></header>

    <section>
    	<div class="p-5 p-lg-0">
    		<div class="row w-100">
    			<div class="col-lg-4 col-sm-6 offset-lg-2 mt-5 pt-5">
    				<h1 class="font-weight-bold">Our Mission</h1>
    				<span>
    					Our mission is to provide our clients with more efficient and cost effective ways of doing things. So instead of offering one service or another, we want to explore as many as possible to make our client's life easier. Whether you are a data analyst, a patient's caretaker or someone who wants to earn money with ride sharing we got you covered. To achieve this goal, we have built an online MapleHeap store platform where individuals as well as companies can activate one or more services based on their needs.
    				</span>
    			</div>
    			<div class="col-lg-4 col-sm-6 offset-lg-1 mt-5 pt-5">
    				<p class="h1 font-weight-bold">Our Vision</p>
    				<p>
    					We want to make use of cutting-edge techniques such as NLP, Semantic Analysis, Machine Learning and Deep Learning to build intelligent systems that can carry out complex tasks in simple yet innovative ways.
    				</p>
    			</div>
    		</div>
    	</div>

      <div class="video mt-5" style="height: 70vh;">
        <div class="row w-100 h-100 m-0">
          <div class="offset-lg-2 col-lg-8 col-sm-12 h-100">
            <iframe src="https://drive.google.com/file/d/1b7Ak_bmYZ3LpLxybSf028nQy40tzT42Q/preview" class="w-100 h-100" allow="autoplay"></iframe>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <div class="row m-0 w-100">
          <div class="col-lg-2 offset-lg-2 col-sm-12">
            <div>
              <img src="../assets/img/atif-baig.avif" class="img-fluid" alt="Atif Baig / Co-Founder" loading="lazy">
              <p class="mt-1 mb-0"><b>Atif Baig</b></p>
              <span>CEO / Founder</span>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div>
              <p>
                Designing software systems that solve real life problems in creative ways is what excites me. This inclination towards technology has given me impetus to explore, learn, and grow over time. After graduating in Computer Science from Memorial University of Newfoundland, Canada, I started working with a Toronto based software company as a technical architect. Even with full time professional work, I never stopped following my passion to develop innovative solutions. As a result of my continuous efforts of many years, I managed to develop some amazing software solutions. So, the next logical step for me was to launch these software services so that they can serve both businesses as well as individuals. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="_footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-3.4.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../assets/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/header.js"></script>
    <script type="text/javascript" src="../js/footer.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>