<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mapleheap Technologies - Calgary Based Software Company | MapleHeap Technologies</title>
    <link rel="icon" href="../assets/img/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link href="../libs/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../libs/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../libs/fontawesome/css/solid.css" rel="stylesheet" />

    <!-- custom style  -->
    <link rel="stylesheet" href="../css/style.css">

  </head>
  <body>

    <!-- header -->
    <header id="_header" class="bg-light shadow"></header>

    <section>
    	<div class="p-5 p-lg-0">
    		<div class="row w-100">
    			<div class="col-lg-4 col-sm-6 offset-lg-2 mt-5 pt-5">
    				<h1 class="font-weight-bold mb-5">Contact Us</h1>
    				<form id="contactForm">
              <div class="form-group">
                <label for="exampleInputPassword1">Name <span class="text-danger"> *</span></label>
                <input type="text" name="name" required class="form-control" placeholder="Your Name" id="name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address <span class="text-danger"> *</span></label>
                <input type="email" name="email" required class="form-control" id="email" placeholder="Your Email Address" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Message <span class="text-danger"> *</span></label>
                <textarea name="message" class="form-control" required placeholder="Enter Your Message" id="message" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    			</div>
    			<div class="col-lg-4 col-sm-6 offset-lg-1 mt-5 pt-5">
            <img src="../assets/img/contact.avif" alt="Contact Us Image">
    			</div>
    		</div>
    	</div>

      <div class="row w-100">
        <div class="col-lg-3 col-sm-6 offset-lg-2 mt-5 pt-5">
          <h1 class="font-weight-bold mb-3">Our Location</h1>
          <p><b>Address</b></p>
          <p class="m-0">#60-180, 94 Ave, S.E, </p>
          <p> Calgary, AB T2J 3G8</p>

          <p class="m-0 mt-3"><b>Hours</b></p>
          <p>Mon-Fri: 9am-5pm</p>
        </div>
        <div class="col-lg-6 col-sm-6 mt-5 pt-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d40200.95120973329!2d-114.070428!3d50.968849!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53717124c456dbf1%3A0x58935331967c357c!2s180%2094%20Ave%20SE%2C%20Calgary%2C%20AB%20T2J%203G8%2C%20Canada!5e0!3m2!1sen!2sus!4v1714321982870!5m2!1sen!2sus" class="w-100 h-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </section>

    <footer id="_footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-3.4.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../assets/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/header.js"></script>
    <script type="text/javascript" src="../js/footer.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/form.js"></script>
  </body>
</html>